@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  background-image: linear-gradient(hsl(0, 4%, 5%), black, white,rgba(38, 58, 58, 0.826)
  );
}
* {
  font-size: 25px;
  margin: 0;
  padding: 0;
}
i {
  /* font-size: 25px; */
  margin-right: 10px;
}

.navbar {
  /* font-size: 25px; */
  background: transparent;
}
.navbar-logo {
  padding: 20px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: white;
  pointer-events: none;
}

.navbar-mainbg {
  /* background-image: linear-gradient(
    to right,
    rgba(158, 247, 150, 0.863),
    rgb(66, 65, 65)
  ); */
  padding: 5px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent ul li:hover .underline {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}

#navbarSupportedContent ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

#navbarSupportedContent > ul > li.active > a {
  color: rgb(104, 234, 243);
  font-weight: bold;
  background-color: transparent;
  transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
